<%- include('./partials/header.ejs') %>

<form action="/home" method="POST">

<h1>Add a Horror Film</h1>

<div class="newDiv">

  <fieldset class="newField">
      <label for="img">Image:</label>
      <input type="text" name="img"
      placeholder="Image URL">
  </fieldset>

  <fieldset class="newField">
    <label for="name">Title:</label>
    <input type="text" name="name" placeholder="Enter new film name">
  </fieldset>

  <fieldset class="newField">
    <label for="synopsis">Synopsis:</label>
    <input type="text" style="height: 40px; width:280px" name="synopsis" placeholder="Summary for film">
  </fieldset>

  <fieldset class="newField">
    <label for="personalReview">Personal Review:</label>
    <input type="text" style="height: 40px; width:280px" name="personalReview" placeholder="Enter Personal Review">
  </fieldset>

  <fieldset class="newField">
    <label for="durationOfFilm">Duration Of Film:</label>
    <input type="text" name="durationOfFilm" placeholder="How long the movie is">
  </fieldset>

  <fieldset class="newField">
    <label for="trailer">Trailer:</label>
    <input type="text" name="trailer" placeholder="Trailer">
  </fieldset>

  <fieldset class="newField">
    <label for="streamableOn">Streamable On:</label>
    <input type="text" name="streamableOn" placeholder="Where can you watch it">
  </fieldset>


  <button type="submit">Click to add Film.</button>

  </div>
</form>



<%- include('./partials/footer.ejs') %>
